.civomega-entity-politician {
	color: #990000;
}
.civomega-entity-time_period {
	color: #009900;
}
.civomega-entity-entity {
	color: #000099;
}
.civomega-entity-location {
	color: #990099;
}
.civomega-entity-object {
	color: #999900;
}