* {
	-webkit-transition: all 0.2s ease;
  	   -moz-transition: all 0.2s ease;
  		-ms-transition: all 0.2s ease;
  		 -o-transition: all 0.2s ease;
  			transition: all 0.2s ease;
}

body {
	background-color: #eee;
	font-family: "Lato";
}

h1 {
	font-weight: bolder;
}
p {
	margin: 10px;
}

.logo {
	text-indent: -9000px;
	background: url("../img/logo.png");
	height: 98px;
	width: 320px;
	margin: auto;
}

.container {
	text-align: center;
}

.form-search .input {
	height: 1.8em;
	font-family: "Lato";
}

.form-search .input:focus {
	border-color: #ccc;
	box-shadow: none;
}

.form-search .btn {
	background-image: none;
	background-color: #e74c3c;
	color: #fff;
	font-weight: bold;
	text-shadow: none;
	border: 0;
	border-bottom: 1px solid #a82215;
	text-transform: uppercase;
	font-family: "Lato";
	height: 2.5em;
}

.form-search .btn:hover {
	background-color: #d62c1a;
	color: #fff;
}

.form-search .btn:active {
	background-color: #d62c1a;
	color: #fff;
	border-bottom: 0;
	border-top: 1px solid #a82215;
}

.result {
	border: 1px solid #D7C9AC;
	background: #F6EAD2;
	margin: 10px; 
	padding: 10px;
	border-radius: 3px;
}

.result table td {
	padding: 4px;
}

#question-form {
	position: relative;
}

#spinner {
	position: absolute;
	top: 9px;
	display: none;
}

.notfound {
	font-style: italic;
	color: #ccc;
}

@media (max-width: 767px) {
	#spinner {
		right: 10px;
		top: 7px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	#spinner {
		right: 120px;
	}
}
@media (min-width: 980px) {
	#spinner {
		right: 155px;
	}
}
