{% if results|length == 0 %}
  <p>We couldn't find any bills.</p>
{% else %}
  <p>{{ count }} results total.  Here are the first {{ results|length }}:</p>

  <table class="tablesorter">
  	<thead>
  		<tr>
  			<th style="width: 120px;">Bill</th>
  			<th>Title</th>
  			<th style="width: 100px;">Introduced</th>
  		</tr>
  	</thead>
  	<tbody>
  	{% for item in results %}
  		<tr>
  			<td><a href="{{item.urls.congress}}" target="_blank">{{ item.bill_id }}</a></td>
  			<td>
  				{% if item.short_title is none %}
  					{{ item.official_title }}
  				{% else %}
  					{{ item.short_title }}
  				{% endif %}
  			</td>
  			<td>{{ item.introduced_on }}</td>
  		</tr>
  	{% endfor %}
  	</tbody>
  </table>
  <script type="text/javascript">
  	$(".tablesorter").tablesorter();
  </script>
  <p><em>Data provided by the <a href="http://sunlightfoundation.com">Sunlight Foundation</a></em></p>
{% endif %}
