{% macro indent(depth) %}{% for i in range(0,depth) %}&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{% endmacro %}
<style>
table.population-table tr td.census-label { text-align: left; }
table.population-table tr td.census-value { text-align: right; }
</style>
<p><b style="font-size:36px">{{ '{:,.0f}'.format(population) }}</b><br>
   Population {% if label %}of <em>{{ label }}</em>
   origin {% endif %}in <em>{{ place.name }}</em>.</p>

<h3>Racial population of <i>{{ place.name }}</i></h3>
<table class="population-table">
  <tr>
    <th>Race</th><th>Population</th>
  </tr>
  <tr><td class="census-label">Total:</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001001']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}White alone</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001002']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}Black or African American alone</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001003']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}American Indian and Alaska Native alone</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001004']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}Asian alone</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001005']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}Native Hawaiian and Other Pacific Islander alone</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001006']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}Some other race alone</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001007']) }}</td></tr>
  <tr><td class="census-label">{{ indent(1) }}Two or more races:</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001008']) }}</td></tr>
  <tr><td class="census-label">{{ indent(2) }}Two races including Some other race</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001009']) }}</td></tr>
  <tr><td class="census-label">{{ indent(2) }}Two races excluding Some other race, and three or more races</td><td class="census-value">{{ '{:,.0f}'.format(full_data['b02001010']) }}</td></tr>
</table>
<p><em>Source: American Community Survey 2007-2011, table B02001</em></p>
<p><em>Data provided by the <a href="http://www.census.gov/">United States Census Bureau</a> and <a href="http://censusreporter.org/">CensusReporter</a>.</em></p>
