{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}
  <script type="text/javascript" src="{% static 'js/civomega.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $("#question").civomega({
        patternUrl: "endpoints/pattern-match",
        typeUrl: "{% static 'js/types.js' %}",
        styleUrl: "{% static 'css/dynamic.css' %}",
        submitUrl: "endpoints/invoke",
      });
  	});
  </script>
  <div class="row">
    <div id="question">
    </div>
  </div>
{% endblock %}

