<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="{% block description %}Ask questions from government data.{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width">
  <link href="http://assets.okfn.org/p/labs/201210/css/bootstrap.css" rel="stylesheet">
  <link href="http://assets.okfn.org/p/labs/201210/css/bootstrap-responsive.css" rel="stylesheet">

  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="/static/js/jquery.tablesorter.min.js"></script>
  <script src="http://assets.okfn.org/p/labs/201210/js/bootstrap.js"></script>

  <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/theme.default.css">

  {% block scripts %}
  {% endblock %}
</head>
<body>
  <header>
    <div class="container">
      <!--<h1 class="logo"><a href="/">CivOmega</a></h1>-->
      <h1 class="logo2"><a href="/"><img src="/static/img/logo.png" alt="CivOmega" title="CivOmega"/></a></h1>
    </div>
  </header>
  <div class="airlock">
    <div id="page" class="container">
        {% block content %}
           - No Content -
        {% endblock %}
    </div>
  </div>
  <footer>
    <div class="container">
    <p>Developed at the Knight-Mozilla-MIT <a href="http://civic.mit.edu/conference2013">“Insider/Outsider” Civic Media Conference</a> and <a href="https://wiki.mozilla.org/OpenNews/hackdays/insideroutsider">Hack Day</a>. <a href="https://github.com/pudo/dataomega">Source code available on GitHub</a>.</p>
    <p>
    Contributors:
    <a href="https://twitter.com/cksopher">@cksopher</a>
    <a href="https://twitter.com/gridinoc">@gridinoc</a>
    <a href="https://twitter.com/joegermuska">@joegermuska</a>
    <a href="https://twitter.com/leonxlin">@leonxlin</a>
    <a href="https://twitter.com/manuelaristaran">@manuelaristaran</a>
    <a href="https://twitter.com/miguelpaz">@miguelpaz</a>
    <a href="https://twitter.com/mtigas">@mtigas</a>
    <a href="https://twitter.com/s2tephen">@s2tephen</a>
    <a href="https://twitter.com/slifty">@slifty</a>
    <a href="https://twitter.com/tswicegood">@tswicegood</a>
    </p>
    </div>
  </footer>
</body>
</html>
