{% load staticfiles %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>CivOmega</title>
  <meta name="description" content="{% block description %}Ask questions from public data.{% endblock %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width">

  <link href="//assets.okfn.org/p/labs/201210/css/bootstrap.css" rel="stylesheet">
  <link href="//assets.okfn.org/p/labs/201210/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/theme.default.css' %}">
  <link rel="stylesheet" href="{% static 'css/civomega.css' %}">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="logo2"><a href="{% url 'homepage' %}"><img src="{% static 'img/logo.png' %}" alt="CivOmega" title="CivOmega"/></a></h1>
    </div>
  </header>
  <div class="airlock">
    <div id="page" class="container">
        {% block content %}{% endblock %}
    </div>
  </div>
  <hr />
  <footer style="font-size: 14px; ">
    <div class="container">
    <p><a href="https://github.com/CivOmega/civomega">Source</a> | <a href="/about">About</a> | <a href="/developers">Developers</a> | Sponsored by <img style="height:2em" src="{% static 'img/sunlight.png' %}"  class="sunlight-logo"/></p>
    </div>
  </footer>
</body>
</html>
